doctype html
html
   head
      title=t('app.name')
      script(src="/public/scripts/application.js")
      link(rel='stylesheet', type='text/css', href='/public/styles/application.css')
   body
      block content